/*Блок приветствия*/

a {
  text-decoration: none;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/greeting.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 550px;
  background-size: contain;
}

.greeting-contain {
  text-align: center;
  width: 50%;
}

.greeting-contain>p:first-child {
  font-weight: bold;
  font-size: 7.5rem;
  line-height: 89px;
  margin: 0;
}

.greeting-contain>p:nth-child(2) {
  font-weight: bold;
  font-size: 7.5rem;
  line-height: 89px;
  color: #29cfac;
  margin: 0;
}

.greeting-contain>p:nth-child(3) {
  font-weight: bold;
  font-size: 2.4rem;
  color: #4b4456;
  line-height: 30px;
}

/*Блок преимущества*/

.advantage {
  margin-bottom: 50px;
}

.advantage-info-title {
  max-width: 600px;
  position: relative;
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: #29cfac;
}

.advantage-info-title::before {
  content: "";
  background-image: url("../../assets/adv-title.png");
  width: 81px;
  height: 73px;
  position: absolute;
  left: -66px;
  top: -10px;
  z-index: 2;
}

.advantage-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figure {
  background: linear-gradient(180deg, #feeeee 0%, #fffbfb 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  text-align: center;
  padding: 60px;
  transition: all 0.2s;
}

figure:hover {
  transform: scale(1.02);
}

figcaption>p:first-child {
  color: #29cfac;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

figcaption>p:last-child {
  color: #4b4456;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}

/*команда*/

.team-info {
  margin-bottom: 30px;
}

.team-info-title {
  max-width: 430px;
  position: relative;
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: #29cfac;
  z-index: 2;
}

.team-info-title::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 0px;
  width: 41px;
  height: 61px;
  background-image: url("../../assets/team-title-back.png");
  z-index: -1;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member-item {
  margin: 10px;
  width: 400px;
  max-width: 100%;
  max-height: 600px;
  padding: 20px;
  background: linear-gradient(180deg, #feeeee 0%, #fffbfb 100%);
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
}

.member-item:hover {
  transform: scale(1.02);
}

.member-description {
  margin-top: 20px;
  text-align: center;
}

.member-photo {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.member-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 26px;
  color: #4b4456;
}

.member-github {
  position: relative;
  font-weight: 400;
  font-size: 22px;
  color: #29cfac;
  text-decoration: none;
}

.member-github::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0px;
  width: 28px;
  height: 28px;
  background-image: url("../../assets/GitHub-icon.png");
}

.member-position {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #4b4456;
}

.member-actions-block {
  max-width: 220px;
  margin: 0 auto;
}

.member-actions-block li {
  padding: 10px;
  text-align: start;
}

.memeber-actions {
  font-size: 18px;
  text-align: center;
  color: #4b4456;
}

@media (max-width: 1440px) {
  .team-members {
    justify-content: center;
  }
}

@media (max-width: 1100px) {

  /*для преимущества*/
  .advantage-contain {
    flex-direction: column;
  }

  .team-members {
    justify-content: center;
  }
}

@media (max-width: 768px) {

  /*для команды*/
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*для приветствия*/
  .greeting {
    height: 200px;
    background-position: right;
  }

  .greeting-contain {
    width: 100%;
  }

  .greeting-contain>p:first-child {
    font-size: 4rem;
    line-height: 48px;
  }

  .greeting-contain>p:nth-child(2) {
    font-size: 4rem;
    line-height: 48px;
    color: #0c6652;
  }

  .greeting-contain>p:nth-child(3) {
    font-size: 1.4rem;
    line-height: 20px;
  }

  /*для преимущества*/
  .advantage-info-title {
    font-size: 4rem;
    margin-bottom: 30px;
  }

  .advantage-info-title::before {
    left: -18px;
  }

  .team-info-title {
    font-size: 4rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {

  /*для преимущества*/
  .advantage-info-title {
    font-size: 3rem;
  }

  .advantage-info-title::before {
    display: none;
  }

  /*для команды*/
  .team-info-title {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .team-info-title::after {
    display: none;
  }
}