.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.nav-logo {
  display: block;
  background-image: url("../../assets/RS-Lang.svg");
  background-repeat: no-repeat;
  width: 189px;
  height: 45px;
}

.nav-container-of-part {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-part {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-link {
  background-color: linear-gradient(180deg, #feeeee 0%, #fffbfb 100%);
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(144, 98, 98, 0.55);
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: #29cfac;
}

.active-link {
  position: relative;
  transform: translateY(2px);
  box-shadow: none;
}

.active-link::after {
  content: "";
  position: absolute;
  background: #29cfac;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}

.nav-btn {
  background: #29cfac;
  border-radius: 5px;
  width: 100px;
  /* height: 46px; */
  color: white;
  border: none;
  transition: all 0.4s;
}

.nav-btn:hover {
  background: #83cacf;
  cursor: pointer;
}
