.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 0 10px;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.nav-logo {
  display: block;
  background-image: url("../../assets/RS-Lang.svg");
  background-repeat: no-repeat;
  width: 189px;
  height: 45px;
}

.nav-container-of-part {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-part {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-link {
  background-color: linear-gradient(180deg, #feeeee 0%, #fffbfb 100%);
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(144, 98, 98, 0.55);
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: #29cfac;
}

.active-link {
  position: relative;
  transform: translateY(2px);
  box-shadow: none;
}

.active-link::after {
  content: "";
  position: absolute;
  background: #29cfac;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}

.nav-btn {
  background: #29cfac;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  border: none;
  transition: all 0.4s;
  text-decoration: none;
}

.nav-btn:hover {
  background: #83cacf;
  cursor: pointer;
}

.nav-btnEx {
  background: #29cfac;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  border: none;
  transition: all 0.4s;
  text-decoration: none;
}

.nav-btnEx:hover {
  background: #83cacf;
  cursor: pointer;
}

.hidden {
  display: none;
}

/*бургер-меню*/

.burger {
  display: none;
}

.sidepanel {
  height: 210px;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.active-sidepanel {
  width: 100%;
}

.hidden-sidepanel {
  width: 0;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #29cfac;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #83cacf;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #29cfac;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
}

.openbtn:hover {
  background-color: #83cacf;
}

@media (max-width: 768px) {
  .nav-part {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 400px) {
  .nav-logo {
    background-size: 90%;
    width: 100px;
  }
}
