html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: "Rubik", Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
