html {
  font-size: 10px;
}

body {
  background-color: #e5e5e5;
  padding: 15px;
  font-size: 1.6rem;
  /* font-family: "Lato", Verdana, sans-serif; */
  font-family: "Rubik", Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: black;
}

main {
  margin: 20px;
  padding: 10px;
}
